# Ignore all AML checkpoints
**/.ipynb_aml_checkpoints/

# Ignore all AML temporary files
**.amltmp

# Ignore all Python __pycache__ directories
**/__pycache__/

# Ignore all data files
**/*.csv
**/*.tsv
**/*.json
**/*.parquet
**/*.dat

# Ignore all model files
**/*.pth
**/*.pt
**/*.ckpt
**/*.h5
**/*.distcp


# Ignore logs directories
**/logs/

# Ignore Jupyter notebook checkpoints
**/.ipynb_checkpoints/
events*
mlflow*
**/meta.yaml

# Ignore mlruns
**/mlruns/
